html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
}

.layout {
    hheight: 100%;
}

.box-left {
    min-height: 100%;
    padding: 5%;
    background: white;
    width: 200px;
    float: left;
}
.box-center {
    background: white;
    height: 100%;
    padding: 5%;
    margin-left: 200px;
    overflow: hidden;
}

.folder-close {
  background-image: url('images/folder-close.png') no-repeat;
}

.folder-open {
  background-image: url('images/folder-open.png') no-repeat;
}

a {
padding-left:10px;
}

.trip {
    color: #C2FFFF;
    border: 1px #C2FFFF dashed;
    padding: 1em;
    background: rgb(0, 127, 133);
}

.amount{
    margin: 1em 0;
}