html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.layout {
    hheight: 100%;
}

.left {
    min-height: 100%;
    padding: 5%;
    background: white;
    width: 200px;
    float: left;
}
.center {
    color: #C2FFFF;
    background: #1C16A0;
    height: 100%;
    padding: 5%;
    margin-left: 200px;
    overflow: hidden;
}

.folder-close {
  background-image: url('images/folder-close.png') no-repeat;
}

.folder-open {
  background-image: url('images/folder-open.png') no-repeat;
}

a {
padding-left:30px;
}
